html {
    height: 100%;
    width: 100%;
}
body {
	height: 100%;
    background: url(/images/grand_canyon.jpg) no-repeat top center fixed;
    background-size: cover;
    overflow: hidden;
}
#content {
	height: 100%;
	color: white;
	text-align: center;
}
#spacer {
	height: 35%;
}
#dropdown {
    font-size: 28px;
    margin: auto;
    width: 220px;
    background-color: black;
}
#dropdown #projects {
    border-radius:          2px;
    box-shadow:         0px 2px 2px 0px #191d20;
    border: 1px solid #424448;
    background-image: linear-gradient(bottom, rgb(43,46,50) 0%, rgb(49,52,57) 100%);
    z-index: 1;
}
#dropdown #projects:hover {
    cursor: pointer;
    color: white;
}
#dropdown ul {
    list-style: none;
    background: #2e3135;
    width: 220px;
    border-radius:          2px;
    box-shadow:         0px 0px 2px 1px #1b1f23;
    top: -2px;
}
#dropdown li {
    border-bottom: 1px solid #3a3c3f;
}
#dropdown li a {
    color: #a2a8ad;
    text-decoration: none;
    display: block;
}
#dropdown li:first-child {
    padding-top: 6px;
}
#dropdown li:last-child {
    border: none;
    padding-bottom: 8px;
}
#dropdown li a:hover {
    color: white;
}