html {
    height: 100%;
    width: 100%;
}
body {
	height: 100%;
    background: url(/images/grand_canyon.jpg) no-repeat top center fixed;
    background-size: cover;
    overflow: hidden;
}

/* CSSTerm.com Flyout CSS menu */

#flyout_menu {
    width: 150px; 
}

#flyout_menu ul, li {
  list-style: none;
  padding: 5px; 
  text-align: center;
}

#flyout_menu ul li.hover,
#flyout_menu ul li:hover { 
    position: relative;
}

#flyout_menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
}

#flyout_menu ul li:hover > ul { 
    padding: 0px;
    visibility: visible; 
}

#flyout_menu ul ul { 
    top: 0; 
    left: 100%; 
}

#flyout_menu li { 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .5);
}

#flyout_menu span, #flyout_menu a {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none; 
}

#flyout_menu img {
    float: right;
    height: 24px;
    width: 24px;
}

#flyout_menu li:hover, #flyout_menu li.active { 
    background: rgb(40, 40, 40); 
    background: rgba(40, 40, 40, 0.5);
}

#flyout_menu ul ul li { 
    margin: 0px;
    width: 200px;
    text-align: left;
}